@charset "utf-8";

.error500 {
	margin: 0 auto 0 auto;
	background-position: center top;
	text-align: center;
	font-size: 2em;
	margin-top: 45px;
}
.error500 img, .error403 img{
	width: 100%;
	max-width: 570px;
}
.error404, .error403{
	margin: 0 auto 0 auto;
	height: 600px;
	text-align: center;
	line-height: 950px;
	font-size: 1.3em;
}
.error404 {
	background: url('../img/error404.png') no-repeat;
	background-position: center;
}
.error403{
	margin-top: 80px;
}
.contactoInfo p {
	color: black
}