@charset 'utf-8';
body{
	margin: 0;
	background: black;
	color: white;
}
img{
	width: auto;
	height: auto;
}
a img {border: none; }

h1{
	margin: 0;
	color: white;
	font-family: 'Lobster', Helvetica, Arial;
	text-shadow: 7px 7px 1px rgba(0, 0, 0, 0.7);
	font-size: 2.8em;
}
.wrapper{
	width: 1200px;
	height: 100%;
	margin: 0 auto 0 auto;
}

/*HEADER*/
.nav{
	background: #30284d; /* Old browsers */
	background: -moz-linear-gradient(left,  #30284d 0%, #30284d 8%, #662c4c 18%, #662c4c 24%, #472d86 33%, #603f38 44%, #603f38 51%, #603f38 57%, #472d86 68%, #662c4c 80%, #662c4c 86%, #30284d 96%, #30284d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#30284d), color-stop(8%,#30284d), color-stop(18%,#662c4c), color-stop(24%,#662c4c), color-stop(33%,#472d86), color-stop(44%,#603f38), color-stop(51%,#603f38), color-stop(57%,#603f38), color-stop(68%,#472d86), color-stop(80%,#662c4c), color-stop(86%,#662c4c), color-stop(96%,#30284d), color-stop(100%,#30284d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #30284d 0%,#30284d 8%,#662c4c 18%,#662c4c 24%,#472d86 33%,#603f38 44%,#603f38 51%,#603f38 57%,#472d86 68%,#662c4c 80%,#662c4c 86%,#30284d 96%,#30284d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #30284d 0%,#30284d 8%,#662c4c 18%,#662c4c 24%,#472d86 33%,#603f38 44%,#603f38 51%,#603f38 57%,#472d86 68%,#662c4c 80%,#662c4c 86%,#30284d 96%,#30284d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #30284d 0%,#30284d 8%,#662c4c 18%,#662c4c 24%,#472d86 33%,#603f38 44%,#603f38 51%,#603f38 57%,#472d86 68%,#662c4c 80%,#662c4c 86%,#30284d 96%,#30284d 100%); /* IE10+ */
	background: linear-gradient(to right,  #30284d 0%,#30284d 8%,#662c4c 18%,#662c4c 24%,#472d86 33%,#603f38 44%,#603f38 51%,#603f38 57%,#472d86 68%,#662c4c 80%,#662c4c 86%,#30284d 96%,#30284d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30284d', endColorstr='#30284d',GradientType=1 ); /* IE6-9 */
	
	margin-top: 30px;
	padding: 7px;
	text-align: right;
	position: relative;
	z-index: 10;
}
.nav a{
	display: inline-block;
	width: 10%;
	color: #FFF;
	font-size: 1.1em;
	margin-right: 60px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: .7s;
	  -moz-transition: .7s;
	  -o-transition: .7s;
	  -ms-transition: .7s;
	  transition: .7s; }
.barraNavegacion{
	height: 25px;
	overflow: hidden;
	position: relative;
	margin-left: 30%;
}
.logomenu{
	position: absolute;
	top: -80px;
	left: 22%;
	z-index: 10;
}

.effect {
	position: absolute;
	z-index: 50;
	left: -12.5%;
	-webkit-transition: 0.7s ease-in-out;
	-moz-transition: 0.7s ease-in-out;
	-o-transition: 0.7s ease-in-out;
	-ms-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out; }

	nav a:nth-child(1):hover ~ .effect {/* Inicio */
		left: 20.5%;
		width: 70px; }
	nav a:nth-child(2):hover ~ .effect {/* Galeria */
		left: 36.5%;
		width: 75px; }
	nav a:nth-child(3):hover ~ .effect {/* Radio */
		left: 55.5%;
		width: 70px; }
	nav a:nth-child(4):hover ~ .effect {/* Noticias */
		left: 70.5%;
		width: 87px; }
	nav a:nth-child(5):hover ~ .effect {/* Contacto */
		left: 88%;
		width: 106px; }
/* ----- line example -----*/

.ph-line-nav .effect {
	width: 80px;
	height: 2px;
	background: #FFF; 
	margin-left:-45px;
}
.redeSociales{
	text-align: right;
	margin-top: 5px;
}
.twitterlogo, .facebook, .googleplus, .instagram{
	background: url(../img/iconos.png) no-repeat;
	display: inline-block;
}
.twitterlogo{
	background-position: 0 0;
	height: 35px;
	width: 40px;
}
.facebook{
	background-position: -40px 0;
	height: 35px;
	width: 40px;
}
.googleplus{
	background-position: -85px 0;
	height: 35px;
	width: 40px;
}
.instagram{
	background-position: -125px 0;
	height: 35px;
	width: 40px;
}
/* FOOTER */
footer{
	color: #FFF;
	background: #582B5B;
	border-top: 5px solid #7D3C81;
}
.fraseFooter{
	text-align: center;
	margin: 0;
	padding: 25px 0;
	font-size: 2em;
}
.footer-der, .footer-med, .footer-izq{
	display: inline-block;
	vertical-align: top;
}
.footer-der, .footer-izq{
	width: 20%;
}
.footer-med{
	width: 59%;
}
.footer-izq{
	text-align: right;
}
.listaMenuFooter{
	padding: 0;
	text-align: center;
}
.listaMenuFooter li{
	display: inline-block;
}
.listaMenuFooter a{
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	margin-right: 25px;
}
.sintonizar{
	font-size: 1.8em;
	text-align: center;
	width: 70%;
	margin: 0 auto;
}
/* Configuración pagination */
.endless_page_template{
	margin-bottom: 150px;
}
.pagination{
	text-align: center;
}
.endless_page_link, .endless_page_current{
	color: #707070;
	background: #FFF;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #DCDCDC;
	padding: 6px 9px 6px 9px;
	text-decoration: none;
	margin-left: 5px;
}
.endless_page_link:hover, .endless_page_current{
	color: white;
	-moz-text-shadow: 0 1px #4E802C;
	-webkit-text-shadow: 0 1px #4E802C;
	-ms-text-shadow: 0 1px #4E802C;
	text-shadow: 0 1px #4E802C;
	border-color: #478223;
	background: #599F2F;
	background: -moz-linear-gradient(top, #9FE355 1px, #79BF4A 1px, #599F2F);
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #9FE355), color-stop(0.02, #79BF4A), color-stop(1, #599F2F));
}


/* Configuración back to top button */

.back-top {
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 1;
}

.back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: black;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top a:hover {
	color: #000;
}

	/* arrow icon (span tag) */
.back-top span {
	width: 70px;
	height: 70px;
	display: block;
	margin: 0 auto 7px auto;
	font-size: 0;
	background: #16a085 url(../img/up-arrow.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top a:hover span {
	background-color: #777;
}

@media screen and (max-width: 1200px){
	/* configuración back-to-top responsive */
	.back-top a{
		width: 60px;
	}
	.back-top span {
		width: 40px;
		height: 40px;
		font-weight: bold;
		font-size: 4em;
		line-height: 30px;
		background: none;
		margin: 0 auto 0 auto;
	}
	.back-top a:hover span {
		background:none;
	}
	/* END CONFIG back-to-top */

}