@charset 'utf-8';
body{
	margin: 0;
	background: black;
	color: white;
}
img{
	width: auto;
	height: auto;
}
a img {border: none; }

h1{
	margin: 0;
	color: white;
	font-family: 'Lobster', Helvetica, Arial;
	text-shadow: 7px 7px 3px rgba(0, 0, 0, 0.25);
	font-size: 2.8em;
}
.wrapper{
	width: 1200px;
	height: 100%;
	margin: 0 auto 0 auto;
}

/*HEADER*/
.redeSociales{
	text-align: right;
}
.twitterlogo, .facebook, .googleplus, .instagram{
	background: url(../img/iconos.png) no-repeat;
	display: inline-block;
}
.twitterlogo{
	background-position: 0 0;
	height: 35px;
	width: 40px;
}
.facebook{
	background-position: -40px 0;
	height: 35px;
	width: 40px;
}
.googleplus{
	background-position: -85px 0;
	height: 35px;
	width: 40px;
}
.instagram{
	background-position: -125px 0;
	height: 35px;
	width: 40px;
}
/* FOOTER */
footer{
	color: #FFF;
	background: #582B5B;
	border-top: 5px solid #7D3C81;
}
.fraseFooter{
	text-align: center;
	margin: 0;
	padding: 25px 0;
	font-size: 2em;
}
.footer-der, .footer-med, .footer-izq{
	display: inline-block;
	width: 33%;
	vertical-align: top;
}
.footer-izq{
	text-align: right;
}
.listaMenuFooter ul{
	margin:0;
	padding: 0;
}
.listaMenuFooter li{
	display: inline-block;
}
.listaMenuFooter a{
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	margin-right: 25px;
}

/* Configuración pagination */
.endless_page_template{
	margin-bottom: 150px;
}
.pagination{
	text-align: center;
}
.endless_page_link, .endless_page_current{
	color: #707070;
	background: #FFF;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #DCDCDC;
	padding: 6px 9px 6px 9px;
	text-decoration: none;
	margin-left: 5px;
}
.endless_page_link:hover, .endless_page_current{
	color: white;
	-moz-text-shadow: 0 1px #4E802C;
	-webkit-text-shadow: 0 1px #4E802C;
	-ms-text-shadow: 0 1px #4E802C;
	text-shadow: 0 1px #4E802C;
	border-color: #478223;
	background: #599F2F;
	background: -moz-linear-gradient(top, #9FE355 1px, #79BF4A 1px, #599F2F);
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #9FE355), color-stop(0.02, #79BF4A), color-stop(1, #599F2F));
}


/* Configuración back to top button */

.back-top {
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 1;
}

.back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: black;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top a:hover {
	color: #000;
}

	/* arrow icon (span tag) */
.back-top span {
	width: 70px;
	height: 70px;
	display: block;
	margin: 0 auto 7px auto;
	font-size: 0;
	background: #16a085 url(../img/up-arrow.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top a:hover span {
	background-color: #777;
}

@media screen and (max-width: 1200px){
	/* configuración back-to-top responsive */
	.back-top a{
		width: 60px;
	}
	.back-top span {
		width: 40px;
		height: 40px;
		font-weight: bold;
		font-size: 4em;
		line-height: 30px;
		background: none;
		margin: 0 auto 0 auto;
	}
	.back-top a:hover span {
		background:none;
	}
	/* END CONFIG back-to-top */

}