{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load custom_filters %}
{% block css%}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/galeria/album.css' %}">
	<link rel="stylesheet" href="{% static 'css/galeria/galleria.classic.css' %}">	
	{% endblock %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="{% static 'js/adquiridos/jquery.lazyload.js' %}"></script>
<script src="{% static 'js/adquiridos/galleria-1.2.9.min.js' %}"></script>
<script src="{% static 'js/adquiridos/galleria.classic.min.js' %}"></script>
{% endblock js%}
{% block contenido %}
<section class="menuGaleria">
		<div class="wrapper">
			<div class="tituloAlbum">{{album.titulo}}</div> 
		</div>
	</section>
<section id="galerialista" class="galeriaAlbum">
	<div class="wrapper">
		<div class="regresar"><a href="{% url 'galeriagaleria' %}">Regresar</a></div>
		<div class="redesSociales">
			<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_counter addthis_pill_style"></a>
			</div>
		</div>
	<div class="galeriabox">	
		<div id="galleria">
			{% for imagen in imagenes %}
			   <a href="{{ MEDIA_URL }}/{{imagen.imagen}}"><img src="{{ MEDIA_URL }}/{{imagen.imagen}}" data-title="showtime"></a>
			{% endfor %}
		</div>
	</div>
		<script>
   			 Galleria.loadTheme("{% static 'js/adquiridos/galleria.classic.min.js' %}");
    		Galleria.run('#galleria', {
  				height: parseInt($('#galleria').css('height')),
  				wait: true,
  				responsive: true
 			});
		</script>

		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
		<!-- AddThis Button BEGIN -->
	</div>
</section>

	<!-- GALERIA SCRIPT -->
	<script type="text/javascript">
$('#galleria').galleria({
height: 500, //--I made heights match
wait:true
});
</script>

{% endblock contenido %}