@charset 'utf-8';
.tituloAlbum {
	text-align: center;
	font-size: 4em;
	padding: 35px 0;
	margin-top: 41px;
}
.listaImagenes{
	text-align: center;
}
.listaImagenes img{
	margin: 0 auto 20px auto;
	display: block;
	border: 2px solid #FFF;
}
.regresar a{
	text-decoration: none;
	color: #1C697F;
	font-size: 1.3em;
}
.regresar{
	position: relative;
}
.regresar:after{
	position: absolute;
	content: "";
	left: -18px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 15px 10px 0;
	border-color: transparent #007bff transparent transparent;
}
.regresar:before{
	position: absolute;
	content: "";
	left: -35px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 15px 10px 0;
	border-color: transparent #AA4792 transparent transparent;
}
.redesSociales{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 25%;
}
.galeriabox{
	position: relative;
	width: 700px;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
}
@media screen and (max-width: 1200px){
	.listaImagenes img{
		width: auto;
		max-width: 100%;
	}
	.regresar a{
		margin-left: 40px;
	}
	.regresar:before{
		left: 0;
	}
	.regresar:after{
		left: 18px;
	}
}
@media screen and (max-width: 600px){
.galeriabox{
	width: 100%;
}
.galleria-container, .galleria-images {
	width: 100% !important;
}

}
