@charset 'utf-8';
.contenido{
	background: url(../../img/contactofondo.png) repeat-x bottom, url(../../img/diagmonds.png);
}
/* ==  Contacto == */
.infoContacto{color: white}
.contacto{
	background: url(../../img/ciudadcontacto.png) no-repeat bottom center;
	padding: 85px 0 300px 0;
}
.contacto > .wrapper{
	position: relative;
}
.contacto .titulo{
	margin: 0;
	position: relative;
}
.sectionContacto{
	position: relative;
	vertical-align: top;
	display: inline-block;
	width: 33%;
}
form .sectionContacto{
	width: 49%;
}
.sectionContacto, form{
	margin-top: 30px;
}
.estrella{
	position: absolute;
	background: url(../../img/estrellas.png) no-repeat;
}
.estrellapos1{
	top: -27px;
	left: -56px;
	background-position: -17px -17px;
	width: 70px;
	height: 64px;
	z-index: 1;
}
form{
	width: 66%;
	display: inline-block;
}
/* FORM CONTACTO CSS*/
.tituloContacto{
	font-size: 1.5em;
	margin-bottom: 10px;
}
.campo{
	margin: 0 auto 10px auto;
}

.campo input{
	background: rgba(230, 231, 231, 0.7);
	border: 1px solid #CCCCCC;
	text-indent: 5px;
	height: 33px;
	width: 84%;
}
.campo input, textarea{
	border-radius: 10px;
}
.campo label{
	float: left;
	width: 350px;
	margin-bottom: 3px;
}
textarea{
	background: rgba(230, 231, 231, 0.7);
	border: 1px solid #CCCCCC;
	width: 84%;
}
.errorlist{
	border: 1px solid #F00;
	background: #FFC0CB;
	color: #F00;
	list-style: none;
	margin: 10px 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 82%;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
	padding: 10px 0 10px 2%;
}
.enviado{
	border: 1px solid #008000;
	background: lightgreen;
	color: #008000;
	margin: 10px 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 82%;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
	padding: 10px 0 10px 2%;
}
input[type="submit"]{
	margin-top: 10px;
	background: #582B5B;
	padding: 5px 20px;
	border: none;
	color: whitesmoke;
	text-transform: uppercase;
}
/* end form contacto css*/

.infoContacto{
	padding-top: 30px;
}
.cajaIzquierda, .cajaDerecha{
	width: 60%;
	margin: 0 auto 0 auto;
}
.tituloOpcionInfo{
	font-size: 1.2em;
	width: 85%;
	text-indent: 15px;
	padding: 5px 0;
}
.infoOpcion{
	text-align: left;
	margin-top: 10px;
	margin-bottom: 20px;
}
.telefonosNumeros{
	list-style: none;
	margin:0;
}
.infoDerecha{
	display: inline-block;
	width: 49.55%;
}
.infoIzquierda{
	vertical-align: top;
	display: inline-block;
	width: 49.55%;
}
.opcionInfo{
	position: relative;
	border-top: 1px solid #808080;
	width: 80%;
}