@charset 'utf-8';
h1{
	display: none;
}

/* GALERIA */
.sliderPosition{
	width: 100%;
	color: rgba(0, 0, 0, 0);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*fin galeria*/
.lineaGradiente{
	background: #462d86; /* Old browsers */
	background: -moz-linear-gradient(left,  #462d86 1%, #462d86 6%, #da1c84 16%, #da1c84 27%, #462d86 36%, #da1c84 40%, #e87927 44%, #e87927 50%, #e87927 57%, #da1c84 60%, #462d86 65%, #da1c84 77%, #da1c84 88%, #462d86 96%, #462d86 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,#462d86), color-stop(6%,#462d86), color-stop(16%,#da1c84), color-stop(27%,#da1c84), color-stop(36%,#462d86), color-stop(40%,#da1c84), color-stop(44%,#e87927), color-stop(50%,#e87927), color-stop(57%,#e87927), color-stop(60%,#da1c84), color-stop(65%,#462d86), color-stop(77%,#da1c84), color-stop(88%,#da1c84), color-stop(96%,#462d86), color-stop(100%,#462d86)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #462d86 1%,#462d86 6%,#da1c84 16%,#da1c84 27%,#462d86 36%,#da1c84 40%,#e87927 44%,#e87927 50%,#e87927 57%,#da1c84 60%,#462d86 65%,#da1c84 77%,#da1c84 88%,#462d86 96%,#462d86 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #462d86 1%,#462d86 6%,#da1c84 16%,#da1c84 27%,#462d86 36%,#da1c84 40%,#e87927 44%,#e87927 50%,#e87927 57%,#da1c84 60%,#462d86 65%,#da1c84 77%,#da1c84 88%,#462d86 96%,#462d86 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #462d86 1%,#462d86 6%,#da1c84 16%,#da1c84 27%,#462d86 36%,#da1c84 40%,#e87927 44%,#e87927 50%,#e87927 57%,#da1c84 60%,#462d86 65%,#da1c84 77%,#da1c84 88%,#462d86 96%,#462d86 100%); /* IE10+ */
	background: linear-gradient(to right,  #462d86 1%,#462d86 6%,#da1c84 16%,#da1c84 27%,#462d86 36%,#da1c84 40%,#e87927 44%,#e87927 50%,#e87927 57%,#da1c84 60%,#462d86 65%,#da1c84 77%,#da1c84 88%,#462d86 96%,#462d86 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#462d86', endColorstr='#462d86',GradientType=1 ); /* IE6-9 */
	height: 10px;
}
/* Ultimas noticias y sinopsis con twitter*/

.ultimasNoticiasSinopsis{
	background: url(../../img/diagmonds.png);
	padding: 40px 0;
}
.ultimasNoticias, .sinopsis{
	vertical-align: top;
	display: inline-block;
	width: 49%;
	position: relative;
}
.estrella{
	position: absolute;
	background: url(../../img/estrellas.png) no-repeat;
}
.estrellapos1{
	top: 6px;
	left: -67px;
	background-position: -17px -17px;
	width: 70px;
	height: 64px;
	z-index: 1;
}
.estrellapos2{
	top: 0;
	left: 87px;
	background-position: -134px -17px;
	width: 75px;
	height: 64px;
	z-index: 1;
}
.textonoticia{
	height: 56px;
	overflow: hidden;
}

.ultimasNoticias article{
	display: inline-block;
	vertical-align: top;
	width: 45%;
	padding: 2%;
}
.ultimasNoticias article img{
	width: 100%;
}
.ultimasNoticias .tituloNoticia{
	border-bottom: 2px solid white;
	font-size: 1.3em;
	height: 52px;
	text-align: center;
	overflow: hidden;
}
.ultimasNoticias p, .sinopsis p{
	text-align: justify;
}
.twitter{
	text-align: center;
}