@charset 'utf-8';


/* HEADER */
header{
	background: url(../../img/background.png) repeat 5% 5%;
	display: inline-block;
	width: 100%;
	position: relative;
}
header .wrapper{
	position: relative;
}
.logo{
	margin-top: 60px;
	margin-right: 60px;
	text-align: right;
	position: relative;
	z-index: 10;
}
nav{
	margin-top: 25px;
	margin-bottom: 70px;
	text-align: right;
	position: relative;
	z-index: 10;
}
nav ul{
	margin: 0;
	padding: 0
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	color: #FFF;
	font-size: 1.5em;
	margin-right: 60px;
	text-transform: uppercase;
	text-decoration: none;
}
/* end header */

.contenido{
	background: #232523;
}
/* == GRAMA == */
.grama{
	background: #462D86;
	background: -moz-linear-gradient(left, #462D86 1%, #462D86 6%, #DA1C84 16%, #DA1C84 27%, #462D86 36%, #DA1C84 40%, #E87927 44%, #E87927 50%, #E87927 57%, #DA1C84 60%, #462D86 65%, #DA1C84 77%, #DA1C84 88%, #462D86 96%, #462D86 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,#462D86), color-stop(6%,#462D86), color-stop(16%,#DA1C84), color-stop(27%,#DA1C84), color-stop(36%,#462D86), color-stop(40%,#DA1C84), color-stop(44%,#E87927), color-stop(50%,#E87927), color-stop(57%,#E87927), color-stop(60%,#DA1C84), color-stop(65%,#462D86), color-stop(77%,#DA1C84), color-stop(88%,#DA1C84), color-stop(96%,#462D86), color-stop(100%,#462D86));
	background: -webkit-linear-gradient(left, #462D86 1%,#462D86 6%,#DA1C84 16%,#DA1C84 27%,#462D86 36%,#DA1C84 40%,#E87927 44%,#E87927 50%,#E87927 57%,#DA1C84 60%,#462D86 65%,#DA1C84 77%,#DA1C84 88%,#462D86 96%,#462D86 100%);
	background: -o-linear-gradient(left, #462D86 1%,#462D86 6%,#DA1C84 16%,#DA1C84 27%,#462D86 36%,#DA1C84 40%,#E87927 44%,#E87927 50%,#E87927 57%,#DA1C84 60%,#462D86 65%,#DA1C84 77%,#DA1C84 88%,#462D86 96%,#462D86 100%);
	background: -ms-linear-gradient(left, #462D86 1%,#462D86 6%,#DA1C84 16%,#DA1C84 27%,#462D86 36%,#DA1C84 40%,#E87927 44%,#E87927 50%,#E87927 57%,#DA1C84 60%,#462D86 65%,#DA1C84 77%,#DA1C84 88%,#462D86 96%,#462D86 100%);
	background: linear-gradient(to right, #462D86 1%,#462D86 6%,#DA1C84 16%,#DA1C84 27%,#462D86 36%,#DA1C84 40%,#E87927 44%,#E87927 50%,#E87927 57%,#DA1C84 60%,#462D86 65%,#DA1C84 77%,#DA1C84 88%,#462D86 96%,#462D86 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#462d86', endColorstr='#462d86',GradientType=1 );
	border-top: 3px solid #30284D;

	position: relative;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 70px;
}
.grama > .wrapper{
	position: relative;
}
.presentadores{
	background: url(../../img/presentadores.png) no-repeat center;
	position: absolute;
	width: 508px;
	height: 490px;
	top: -290px;
	z-index: 5;
}
.tituloPrincipal{
	width: 57%;
	margin-left: 43%;
}
.rayagris{
	position: absolute;
	top: 82px;
	background: #C8CFCC;
	height: 40px;
	width: 100%;
	border-bottom: 3px solid #767A6E;
	box-shadow: 0 12px 0 #2D3B2B;
}

/* ==  Transmisión == */
.transmision p{
	text-align: right;
	color: #FFF;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #000;
	padding-top: 1em;
}
.reproducto{
	height: 500px;
	width: 850px;
	background: black;
	margin: 0 auto 0 auto;
}
/* ==  Galería == */
.aboutus{
	margin-top: 50px;
	background: url(../../img/notasmusicales.png) no-repeat;
	background-position: bottom;
	min-height: 350px;
}
.aboutus  .galeria{
	width: 62%;
	display: inline-block;
	vertical-align: top;
	padding-top: 40px;
}
.aboutus .info{
	padding: 0 0 0 40px;
	vertical-align: top;
	display: inline-block;
	width: 34%;
	color: white;
	position: relative;
}
.info p{
	font-size: 1.1em;
	text-align: justify;
	padding-right: 20px;
}
.titulo{
	text-transform: uppercase;
	font-size: 2.5em;
}
.mataCosita{
	position: absolute;
	top: -22px;
	left: -4px;
	background: url(../../img/cositas.png) 0 0;
	width: 75px;
	height: 80px;
	z-index: 1;
}
.sliderPosition{
	width: 635px;
	height: 475px;
}
.endless_page_template ul{
	list-style: none;
}
.endless_page_template ul li{
	display: inline-block;
}
.endless_page_template ul li a img{
	width: 150px;
}
.foto{
	width: 150px;
	height: 125px;
}
.logoblanco{
	background: url(../../img/logoengaleria.png) no-repeat 0 0;
	height: 85px;
	margin: 0 auto 30px auto;
}
.imagenGrande{
	position: relative;
	background: url(../../img/cuadro.png) no-repeat;
	width: 632px;
	height: 475px;
	padding: 4%;
	margin-bottom: 50px;
	z-index: 5;
	text-align: center;
}
.imagenGrande > img{
	max-width: 634px;
	max-height: 473px;
	vertical-align: middle;
}
@media screen and (min-width: 950px){
	#midground {
		background: url(../../img/midground.png) repeat 20% 20%;
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
	}
	#foreground {
		background: url(../../img/foreground.png) repeat 90% 110%;
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
	}
}
@media screen and (max-width: 1100px){
	.aboutus .info{
		width: auto;
	}
}
@media screen and (max-width: 950px){
	.reproducto{
		display: none;
	}
	.transmision p{
		padding: 1em;
	}
}
@media screen and (max-width: 700px) {
	.imagenGrande{
		padding: 0;
		width: auto;
		height: auto;
	}
	.aboutus .galeria{
		width: 100%;
	}

}