{% extends "homepage/index.html" %}
{% load staticfiles %}
{% block title %}Error interno del servidor{% endblock %}
{% block css%}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/homepage/index.css' %}">
<link rel="stylesheet" href="{% static 'css/500and404.css' %}">
{% endblock%}
{% block contenido %}
<section class="fondoerror">
	<div class="error500">
		<img src="{% static 'img/error500.png' %}" alt="error interno del servidor en showtimenews.">
	</div>
</section>
{% endblock %}