{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
<!--[if lt IE 8]><script type="text/javascript" src="{{ STATIC_URL }}js/adquiridos/ie6-not-supported.js" ></script><![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/adquiridos/PIE.js"></script>
<![endif]-->
<meta name="keywords" content="Zulia, Televisión, Radio, Programa, Farandula, En vivo, Locutor, HTML5, Divertido">
<meta name="author" content="Duranjo Web C.A.">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
{% block head %} {% endblock%}
<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico">
<title>{% block title %} {% endblock%}</title>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}
</head>
<body>
<header id="home" class="cabecera">	
	<div class="wrapper">
		<div class="redeSociales">
			<a href="https://twitter.com/showtimemcbo"><div class="twitterlogo"></div></a>
			<a href="https://facebook.com/showtimemcbo"><div class="facebook"></div></a>
			<a href="https://plus.google.com/101327765584320539080"><div class="googleplus"></div></a>
			<a href="https://instagram.com/showtimenews"><div class="instagram"></div></a>
		</div>
	</div>
	{% block navi %}
	<nav class="ph-line-nav nav">
		<div class="wrapper">
			<div class="logomenu">
					<img src="{% static 'img/logoshowtime.png' %}" alt="Logo de Show time tv">
			</div>
			<div class="barraNavegacion">
				<a href="{% url 'homepageindex' %}">Inicio</a>
				<a href="{% url 'galeriagaleria' %}">Galería</a>
				<a href="{% url 'homepageradio' %}">Radio</a>
				<a href="/weblog">Noticias</a>
				<a href="{% url 'homepagecontacto' %}">Contacto</a>
				<div class="effect"></div>
			</div>
		</div>
	</nav>
	{% endblock%}
		<div id="midground"></div>
		<div id="foreground"></div>
</header>
	<section class="contenido">
		{% block contenido %} {% endblock%}
	</section>
	{% block clear %} {% endblock %}
	<footer>
		{% block footer %}
			<div class="wrapper">
				<div class="footer-der">
					<div class="logo">
						<img src="{% static 'img/logoshowtime.png' %}" alt="Logo de Con Buen Pie">
					</div>
				</div>
				<div class="footer-med">
					<ul class="listaMenuFooter">
						<li><a href="{% url 'homepageindex' %}">Inicio</a>
						<li><a href="#galeria">Galería</a>
						<li><a href="{% url 'homepageradio' %}">Radio</a>
						<li><a href="#galeria">Noticias</a>
						<li><a href="{% url 'homepagecontacto' %}">Contacto</a>
					</ul>
					<div class="sintonizar">
						Somos ShowTime News, Proximamente en radio y Televisión
					</div>
				</div>
				<div class="footer-izq">
					Diseño y Desarrollo por:
					<div class="logoDuranjo">
						<a href="http://duranjo.com/">
							<img src="{% static 'img/duranjowhite.png' %}" alt="Duranjo Web C.A. Logo">
						</a>
					</div>
				</div>		  
			</div>
			Copyright © 2013, Todos los derechos reservados.
		{% endblock%}
	</footer>
<!-- Analytics SCRIPT GOOGLE! -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', 'UA-43821103-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>