{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="Página oficial de Show Time programa de televisión emitido en la emisora por Global TV">
{% endblock%}
{% block title %}
Show Time - Inicio
{% endblock%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/homepage/index.css' %}">
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
{% endblock css %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{% static 'js/adquiridos/jquery.flexslider-min.js' %}"></script>
{% endblock js %}
{% block contenido %}
<h1>Show time, Programa de televisión y radio del Zulia.</h1>
<section class="galeria">
	<div class="wrapper">
	<div class="sliderPosition">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{% static 'img/presentadores.png' %}" alt="hola que hace"></li>
				<li><img src="{% static 'img/presentadores.png' %}" alt="hola que hace"></li>
				<li><img src="{% static 'img/presentadores.png' %}" alt="hola que hace"></li>
		 	</ul>
		</div>		
	</div>
	</div>
</section>
<div class="lineaGradiente"></div>
<section class="ultimasNoticiasSinopsis">
	<div class="ultimasNoticias">
		<article></article>
	</div>
	<div class="sinopsis">

		<div class="twitter">
			<a class="twitter-timeline" href="https://twitter.com/restonjd" data-widget-id="364519296744976384">Tweets por @restonjd</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
</section>
	<!-- SLIDER INIT -->
	<script>
		$(document).ready(function() {
		  $('.flexslider').flexslider({
		  	animation: "slide"
		  });
		});
	</script>
{% endblock contenido %}
{% block footer %}
<div class="wrapper">
			<div class="footer-der">
				<div class="logo">
					<img src="{% static 'img/logoshowtime.png' %}" alt="Logo de Con Buen Pie">
				</div>
			</div>
			<div class="footer-med">
				<ul class="listaMenuFooter">
					<li class="index"><a href="#">Inicio</a></li>
				</ul>
			</div>
			<div class="footer-izq">
				Diseño y Desarrollo por:
				<div class="logoDuranjo">
					<a href="http://duranjo.com/">
						<img src="{% static 'img/duranjowhite.png' %}" alt="Duranjo Web C.A. Logo">
					</a>
				</div>
			</div>		  
</div>
Copyright © 2013, Todos los derechos reservados.
{% endblock %}