{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="Página oficial de Con Buen Pie programa de radio emitido en la emisora Feria 106.9 FM de Lunes a Viernes de 10 AM a  11 AM">
{% endblock%}
{% block title %}
Con Buen Pie - Inicio
{% endblock%}
{% block css%}
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/adquiridos/back-top.js"></script>
<script src="{% static 'js/propios/menuByScroll.js' %}"></script>
<script src="{% static 'js/propios/toChangeImage.js' %}"></script>
<script src="{% static 'js/adquiridos/jquery.flexslider-min.js' %}"></script>
{% endblock %}
{% block navi %}
		<ul>
			<li id="homeMenu" class="index"><a href="#home">Inicio</a></li>
			<li id="galeriaMenu" class="services"><a href="#galeria">Galería</a></li>
			<li id="contactoMenu" class="contact"><a href="#contacto">Contacto</a></li>
		</ul>				
{% endblock %}
{% block clear %}{% endblock%}
{% block contenido %}
<!--  GRAMA -->
	<section class="grama">
		<div class="rayagris"></div>
		<div class="wrapper">
			<div class="presentadores"></div>
			<div class="tituloPrincipal">
				<h1>Escuchanos por Feria 106.9 FM</h1>
			</div>
		</div>
	</section>
	<section class="transmision">
		<div class="wrapper">
			<p>En vivo de Lunes a Viernes de 10:00 AM a 11:00 AM.</p>
			<div class="reproducto">
				<iframe width="850" height="500" src="http://www.ustream.tv/embed/4706359?v=3&amp;wmode=direct" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
			</div>
		</div>
	</section>
<!--  GALERIA -->
	<section id="galeria" class="aboutus">
		<div class="wrapper">
			<div class="info">
				<h2 class="titulo"><div class="mataCosita"></div>Sinopsis</h2>
				<p>Programa de radio transmitido por Feria 106.9 FM conducido por Yonna Cabrera y Samir Shker, 
					bajo la producción de Marco Villalobos. Una hora divertida y amena ¡Para personas como tu! 
					Escuchanos de lunes a viernes a las 10 de la mañana.</p>
				<div class="logoblanco"></div>
				<div class="pajaritos"></div>
			</div>
			<div class="galeria">		
					<div class="endless_page_template">
							{% include page_template %}
							<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
							<script>$.endlessPaginate();</script>
					</div>
			</div>	
		</div>
	</section>
<!--  CONTACTO -->
	<section id="contacto" class="infoContacto">
		<div class="cercaBlanca"></div>
		<div class="contacto">
			<div class="wrapper">
				<h2 class="titulo"><div class="mataCosita2"></div>Contacto</h2>
				<div class="sectionContacto">
					<div class="opcionInfo">
						<div class="tituloOpcionInfo">Correo:</div>
						<div class="infoOpcion">
							contacto@conbuenpie.com.ve
						</div>
					</div>
					<div class="opcionInfo">
						<div class="tituloOpcionInfo">Twitter:</div>
						<div class="infoOpcion">
							<a href="https://twitter.com/conbuenpiemcbo"
							 class="twitter-follow-button" data-show-count="true" data-lang="en">Seguir a @conbuenpiemcbo</a>
						</div>
					</div>
					<div class="opcionInfo ">
						<div class="tituloOpcionInfo">Facebook:</div>
						<div class="infoOpcion">
							<div class="fb-like" data-href="http://facebook.com/conbuenpiemcbo" 
							data-width="300" data-layout="button_count" data-show-faces="true" data-send="true"></div>
						</div>
					</div>
					<div class="opcionInfo ">
						<div class="tituloOpcionInfo">Google+:</div>
						<div class="infoOpcion">
							<!-- Place this tag where you want the badge to render. -->
							<div class="g-plus" data-width="300" data-href="//plus.google.com/101327765584320539080" data-rel="publisher"></div>
							<!-- Place this tag after the last badge tag. -->
							<script type="text/javascript">
							  window.___gcfg = {lang: 'es-419'};

							  (function() {
							    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
							    po.src = 'https://apis.google.com/js/plusone.js';
							    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
							  })();
							</script>
						</div>
					</div>
				</div>
				{% if success %}
				<div class="mensajeenviado">
					<div class="enviado">Su mensaje ha sido enviado correctamente, pronto nos pondremos en contacto con usted.</div>
					<img class="sobre" src="{{ STATIC_URL }}img/sobre.png" alt="formulario de contacto">	
				</div>
				{% else %}
				<form action="#" method="POST">
					<div class="tituloContacto">Formulario:</div>
					<div class="sectionContacto">						
						{% csrf_token %}
						<div class="campo">
							{{ field.errors }}
							<label for="nombre">Nombre:</label>
							{{ form.nombre }}
							{{ form.nombre.errors }}
						</div>
						<div class="campo">				
							{{ field.errors }}
							<label for="email">Correo Electrónico:</label>
							{{ form.email }}
							{{ form.email.errors }}
						</div>
						<div class="campo">
							{{ field.errors }}
							<label for="telefono">Teléfono:</label>
							{{ form.telefono }}
							{{ form.telefono.errors }}
						</div>
					</div>
					<div class="sectionContacto">
						<div class="mataCosita3"></div>
						<div class="textareaDescripcion campo">
						{{ field.errors }}
						<label for="texto">Mensaje: </label>
						{{ form.texto }}
						{{ form.texto.errors }}
						</div>
						<div class="botonEnviar">
							<input type="submit">
						</div>
					</div>
				</form>
			{% endif %}
			</div>
		</div>
	</section>
	<!-- GALERIA SCRIPT -->
	<script>
		$(window).load(function() {
		  $('.flexslider').flexslider({
		    animation: "fade"
		  });
		});
	</script>
	<!-- Google+ SCRIPT --> 
		<!-- Place this tag after the last badge tag. -->
		<script  async type="text/javascript">
		 window.___gcfg = {lang: 'es-419'};
		 (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		   po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>
	<!-- FACEBOOK SCRIPT -->
	<div id="fb-root"></div>
		<script async>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	<!-- TWITTER SCRIPT -->
	<script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	
	<!-- BACK TOP BOX -->
	<div id="back-top" class="back-top">
		<a href="#home"><span>↑</span>Regresar arriba</a>
	</div>
{% endblock%}
