{% extends "base.html" %}
{% load url from future %}
{% load staticfiles %}
{% block head %} 
<meta name="description" content="Página oficial de Show Time programa de televisión emitido en la emisora por Global TV">
{% endblock%}
{% block title %}
Show Time - Inicio
{% endblock%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/homepage/index.css' %}">
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
{% endblock css %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{% static 'js/adquiridos/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/adquiridos/jquery.lazyload.js' %}"></script>
{% endblock js %}
{% block contenido %}
<h1>Show time, Programa de televisión y radio del Zulia.</h1>
<section class="galeria">
	<div class="wrapper">
	<div class="sliderPosition">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{% static 'img/showimg1.jpg' %}" alt="It's showtime Yona y Samir"></li>
				<li><img src="{% static 'img/showimg2.jpg' %}" alt="hola que hace"></li>
		 	</ul>
		</div>		
	</div>
	</div>
</section>
<div class="lineaGradiente"></div>
<section class="ultimasNoticiasSinopsis">
	<div class="wrapper">
		<div class="ultimasNoticias">
			<h2 class="titulo"><div class="estrella estrellapos1"></div>Ultimas Noticias</h2>
			{% for item in entradas %}
			<article>
				<img src="{{ MEDIA_URL }}{{item.image}}" width ="265" height="176" alt="{{ item.title }}">
				<div class="tituloNoticia">{{ item.title }}</div>
				<div class="textonoticia">
					{% autoescape off %}
						<p>{{item.content}}...</p>
					{% endautoescape %}	
				</div>
			</article>
			{%  endfor %}
			<a href="/weblog"class="vertodas"> Ver todas las noticias </a>
		</div>
		<div class="sinopsis">
			<div class="info">
				<h2 class="titulo">Sinopsis<div class="estrella estrellapos2"></div></h2>
				<p>Programa de televisión de corte magazine, farándula y entretenimiento de 60 min, una vez a la semana. Conducido por Samir Shker y Yonna Cabrera, que te harán una hora amena informándote sobre las vidas de los artistas entrevistados, obras de teatro, moda, cine, espectaculo y mucho más, bajo la producción de Marcos Villalobos.</p>
			</div>
			<div class="twitter">
				<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/SHOWTIMEMCBO" data-widget-id="375266093985562624">Tweets por @showtimemcbo</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			</div>
		</div>
	</div>
</section>
	<!-- SLIDER INIT -->
	<script>
			$(document).ready(function() {
			  $('.flexslider').flexslider({
			  	//animation: "slide" si las imagenes son diferente tamaño poner sin slide
			  });
			});
	</script>
{% endblock contenido %}
